:root {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    background-color: #0e0e0e;
}

.navbar {
    background-color: #22252A;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}
.navbar-homepage {
    display: flex;
    padding: 20px;
    font-size: 1.2rem;
}
#dropdown {
    background: none;
    color:aliceblue;
    border: none;
    font-size: 16px;
}
.u-list {
    list-style: none;
    display: flex;
    align-items: center;
}
a {
    padding: 10px;
    text-decoration: none;
    color:white;
}

a:hover {
    color:rgb(136, 154, 154);
    background-color: rgb(46, 55, 55);
    border-radius: 20%;
}
.disabled {
    background: none;
    color:rgb(101, 104, 107);
    border: none;
    font-size: 16px;
}

input {
    border-radius: 5%;
    height: 6vh;
    border: 1px solid rgb(10, 10, 10);
    box-shadow: horizontal-offset vertical-offset blur color;
}

ul button {
    height: 5vh;
    border-radius: 5%;
    border: 2px solid greenyellow;
    background-color: rgb(54, 50, 50);
    color: greenyellow;
}

.searchbutton:hover {
    background-color: greenyellow;
    color: aliceblue;
}

.hamburger-menu {
    display: flex;
    gap: 6px;
    flex-direction: column;
    position: absolute;
    right: 1;
    margin-right: 10px;
}

.hamburger-menu input {
    appearance: none;
    background-color: #333;
    border: none;
    margin: 0;
}

@media screen and (max-width:768px) {
    .u-list {
        display: none;
    }
    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: 60px;
        height: 8px;
        background-color: #333;
        border-radius: 50px;
        display: flex;
    }
}