:root {
    margin:0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: 80vh;
}
.image {
    display: flex;
    flex-direction: column;
    max-height: 600px;
    border: 0.5px solid #c0bbbb;

}
.content {
    line-height: 1.5;
    border: solid 0.5px #c0bbbb;
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
}
.itemsdiv{
    
}
.items {
    border: 0.5px solid #c0bbbb;
    margin: 0;
    padding: 20;
}
a {
    display: inline-block;
    padding: 20px;
}
.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.5px solid #c0bbbb;
}